* {
  box-sizing: border-box;
  user-select: none;
}

/* General Styles */
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#root {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Home styles */
.Home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  background: url("/assets/desktop_background.png") no-repeat center center
    fixed;
  background-size: cover;
  padding: 10% 5% 0 5%;
}

.Home_Title_Container {
  position: relative;
  z-index: 2;
  transition: transform 0.5s ease-in-out;
}

.Home_Title {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.Home_Buttons {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: transform 0.5s ease-in-out;
}

.Home_Buttons button {
  text-align: left;
  color: white;
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 40px;
  height: fit-content;
  width: 200px;
  cursor: pointer;
  user-select: none;
}

.hidden {
  display: none;
}

.slide-in {
  transform: translateX(0);
}

.slide-out {
  transform: translateX(120%);
}

/* Scanlines settings */
.scanlines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.scanlines::before,
.scanlines::after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}

.scanlines::before {
  width: 100%;
  height: 2px;
  z-index: 2147483649;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0.75;
  animation: scanline 6s linear infinite;
}

.scanlines::after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483648;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.3) 51%
  );
  background-size: 100% 4px;
  animation: scanlines 2s steps(60) infinite;
}

/* Keyframes for scanlines */
@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

/* Section styles */
.section {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(-100%);
  border: none;
  color: white;
  pointer-events: none;
}

.section-header {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 24px;
  z-index: 1000;
}

.section.visible {
  transform: translateX(0);
  pointer-events: all;
}

.arrow-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 1001;
  color: white;
  height: 30px;
}

.wardrobe {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 10px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.wardrobe-tabs {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 0;
}

.wardrobe-item {
  width: 200px;
  height: 240px;
  background: #111;
  border-radius: 8px;
  padding: 10px;
  margin: 12px;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.wardrobe-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-content {
  height: 70%;
  width: 100%;
}

.character {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.character img {
  position: absolute;
  height: 75%;
  width: auto;
}

.character img.hair {
  z-index: 4;
}

.character img.eyes {
  z-index: 3;
}

.character img.torso {
  z-index: 3;
}

.character img.legs {
  z-index: 2;
}

.character img.feet {
  z-index: 1;
}

.character img.accessory {
  z-index: 5;
}

.phone-container {
  position: absolute;
  height: 400px;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.item-menu {
  position: absolute;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
}

.phone-container > div {
  transform: scale(0.4);
}

.wardrobe-item.equipped {
  background: #222;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}

canvas {
  opacity: 0.3;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in;
  padding: 40px;
}

.modal-content {
  background-color: #333;
  padding: 20px;
  border: 1px solid #444;
  text-align: center;
  box-shadow: 0 0 10px #000;
  animation: fadeIn 1s ease-in;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal-buttons button {
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  width: 100px;
}

.wall-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: #000;
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
  z-index: 2010;
}

.wall-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: #000;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
  z-index: 2010;
}

.wall-left.slide-in,
.wall-right.slide-in {
  transform: translateX(0);
}

.start-logo-container {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0% 10%;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 2s ease-in-out;
  z-index: 2011;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-logo-container.slide-in {
  transform: translateY(10%);
}

.start-logo {
  width: 80%;
}

.dating-game-logo {
  width: 30%;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.dating-game-logo.render {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.game {
  height: 100%;
  width: 100%;
  background-color: pink;
  overflow: hidden;
  position: relative;
}

.game {
  height: 100%;
  width: 100%;
  background-color: pink;
  overflow: hidden;
  position: relative;
}

.halftone {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y="50%" x="50%" font-size="50" text-anchor="middle" dy=".3em" fill="red">❤️</text></svg>'),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y="50%" x="50%" font-size="50" text-anchor="middle" dy=".3em" fill="red">❤️</text></svg>');
  background-size: 6rem 10rem;
  background-repeat: repeat;
  animation: move-background 4s linear infinite;
}

@keyframes move-background {
  0% {
    background-position: 0 0, 3rem 4.5rem;
  }
  100% {
    background-position: -6rem 0, 9rem 4.5rem;
  }
}

.game-background {
  height: 100%;
  width: auto;
}

.game-buttons {
  /* Add styles for the game buttons container */
}

.game-characters {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 20%;
}

.pc {
  width: 120px;
  margin-bottom: 10%;
}

.npc {
  width: 120px;
  margin-bottom: 10%;
}

.dialogue-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20%;
}

.dialogue {
  width: 100%;
  height: 250px;
  padding: 20px;
  margin: 10px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
  border: 4px solid pink;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  z-index: 10;
  cursor: pointer;
  margin-top: 25%;
  position: relative;
}

.cursor {
  display: inline-block;
  width: 10px;
  height: 23px;
  background-color: black;
  animation: blink-animation 0.5s steps(2, start) infinite;
  vertical-align: bottom;
}

.blink {
  position: absolute;
  bottom: 15px;
  right: 20px;
  display: inline-block;
  margin-left: 10px;
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.dialogue:hover {
  background-color: rgba(255, 255, 255, 1);
}

.dialogue p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  opacity: 1;
  margin: 0;
}

.dialogue-options {
  position: relative;
  z-index: 11;
  display: flex;
  margin-top: 20px;
  height: 100px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.option {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border: 4px solid pink;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: rgba(255, 255, 255, 1);
}

.option p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  opacity: 1;
  margin: 0;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (max-width: 600px) {
  .section-content,
  .character img {
    height: 70%;
  }

  .Home_Buttons {
    margin-bottom: 10%;
  }

  .phone-container,
  .wardrobe-tabs {
    margin-bottom: 2.5%;
  }

  .phone-container {
    max-width: 375px;
    height: 320px;
  }

  .phone-container > div {
    transform: scale(0.3);
  }

  .start-logo-container {
    justify-content: flex-start;
  }

  .start-logo-container.slide-in {
    transform: translateY(30%);
  }

  .dating-game-logo {
    width: 100%;
  }

  .game-characters {
    padding: 0% 10%;
  }

  .dialogue-container {
    padding: 10%;
  }

  .dialogue {
    height: 150px;
    margin-top: 80%;
  }

  .dialogue-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }

  .option {
    width: 100%;
    height: 60px;
    padding: 6px;
  }

  .dialogue,
  .dialogue:hover,
  .option,
  .option:hover {
    background-color: rgba(255, 255, 255, 0.95);
  }

  .dialogue p,
  .option p {
    font-size: 12px;
  }
}
